container_commands:
    01-composer-install:
        command: sudo -u webapp /usr/bin/composer.phar install --no-dev
    02-doctrine-schema-update:
        command: sudo -u webapp php bin/console d:s:u --force
    03-stop-messenger:
        command: sudo -u webapp php bin/console messenger:stop-workers
    04-update-supervisorctl:
        command: sudo supervisorctl update
