<p>You asked to reset your password, click the link below to enter a new password</p>
<p>The link expires in 24 hours</p>
<a href="{{url}}">{{url}}</a>
<p>If you didn't request any of this, you can ignore this message</p>
